<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Valax321.DialogueEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2"/>
  </System.Windows.Forms.ApplicationConfigurationSection>
  <userSettings>
    <Valax321.DialogueEditor.Properties.Settings>
      <setting name="ProjectWindowPos" serializeAs="String">
        <value>-10, -10</value>
      </setting>
      <setting name="ProjectWindowSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ProjectWindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>
    </Valax321.DialogueEditor.Properties.Settings>
  </userSettings>
</configuration>
